@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Nunito:300,400&display=swap');

@tailwind base;

@tailwind components;

@import "normalize.css";

@tailwind utilities;

:hover {
    transition: all 350ms ease;
}

:focus,
button:focus {
    outline-color: #212121;
    outline-style: dotted;
    outline-width: 1px;
    transition: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amatic SC', serif;
    color: #849995;
    font-weight: normal;
    text-transform: uppercase;
    word-spacing: 0.25rem;
}

h1, .h1 {font-size: 2.5rem;}
h2, .h2 {font-size: 2.1875rem;}
h3, .h3 {font-size: 1.875rem;}
h4, .h4 {font-size: 1.5625rem;}
h5, .h5 {font-size: 1.25rem;}
h6, .h6 {font-size: 1rem;}

.font-sans {
    font-family: 'Nunito', sans-serif;
}

.font-heading {
    font-family: 'Amatic SC', cursive!important;
}