@tailwind base;

@tailwind components;

@import "normalize.css";

@tailwind utilities;

:hover {
    transition: all 350ms ease;
}

:focus,
button:focus {
    outline-color: #4C566A;
    outline-style: dashed;
    outline-width: 1px;
    transition: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4C566A;
    font-weight: bold;
}

h1, .h1 {font-size: 2rem;}
h2, .h2 {font-size: 1.75rem;}
h3, .h3 {font-size: 1.5rem;}
h4, .h4 {font-size: 1.25em;}
h5, .h5 {font-size: 1.15rem;}
h6, .h6 {font-size: 1rem;}