/* GLOBAL POST STYLES */

.post > h1,
.post > h2,
.post > h3,
.post > h4,
.post > h5,
.post > h6 {font-family: 'Nunito', sans-serif; font-weight: 400; text-transform: none; word-spacing: normal;}

.post h1 {color: #052d49; font-size: 2rem;}
.post h2 {color: #849995; font-size: 1.75rem;}
.post h3 {color: #052d49; font-size: 1.5rem;}
.post h4 {color: #849995; font-size: 1.25rem;}
.post h5 {color: #052d49; font-size: 1.15rem;}
.post h6 {color: #849995; font-size: 1rem;}

.post ol {
    list-style: decimal;
}

.post ul {
    list-style: disc;
}

.post ol,
.post ul {
    font-weight: 300;
    padding-inline-start: 20px;
}

@media(min-width:768px) {
    .post > ol,
    .post > ul {
        padding-inline-start: 50px;
    }

    blockquote {
        margin: 0 30px 1rem;
    }
}

.post hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #bbcdc9;
}

.post > img {
    display: block;
    width: 100%;
    height: auto;
}